header(class="header-container")
    a(href="./index.html") 
        img(src=require("../assets/image/Logo.png") alt="Лого")
    .menu 
        h4(class="header_h4") О нас
        select
            option Услуги
            option Услуги
            option Услуги
            option Услуги
        h4(class="header_h4") Вакансии
        h4(class="header_h4") Новости
        select
            option Соглашения
            option Соглашения
            option Соглашения
            option Соглашения
        .container_buttons
            a(href="./login.html")  ВОЙТИ
            a(href="./registration.html")  ЗАРЕГИСТРИРОВАТЬСЯ
        
        
        