header(class="header-container")
    img(src=require("../assets/image/Logo.png") alt="Лого")
    .menu 
        h4(class="header_h4") О нас
        select
            option Услуги
            option Услуги
            option Услуги
            option Услуги
        h4(class="header_h4") Вакансии
        h4(class="header_h4") Новости
        select
            option Соглашения
            option Соглашения
            option Соглашения
            option Соглашения
        .container_buttons
            button ВОЙТИ
            button ЗАРЕГИСТРИРОВАТЬСЯ
        
        
        