doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Вход
    body 
        include components/header.pug
        .background-join
            form(class="login-container")
                h1 Войти
                input(type="text", name="name", placeholder="Email")
                input(type="password", name="password", placeholder="Пароль")
                button(class="success_button") ВОЙТИ
                    i(class="material-icons") arrow_forward
                .container-route 
                    p Нет аккаунта на Toxin?
                    a(class="route_button",href="registration.html")  СОЗДАТЬ
        include components/footer.pug