doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Регистрация
    body 
        include components/header.pug
        .background
            form(class="registration-container")
                h1 Регистрация аккаунта
                input(type="text", name="firstName", placeholder="Имя")
                input(type="text", name="lastName", placeholder="Фамилия")
                .container-sex
                    div
                        input(type="radio", name="sex",id="sex-male", value="Male") 
                        label(for="sex-male") Мужчина
                    div
                        input(type="radio", name="sex",id="sex-woman", value="Women") 
                        label(for="sex-woman") Женщина
                h4 ДАТА РОЖДЕНИЯ
                input(type="date")
                h4 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
                input(type="text", name="email", placeholder="Email")
                input(type="password", name="password", placeholder="Пароль")
                .container-spec 
                    input(type="checkbox", id="check-spec")
                    label(for="check-spec")
                    p Получать спецпредложения
                button(class="success_button") ВОЙТИ
                    i(class="material-icons") arrow_forward
                div 
                    p Уже есть аккаунт на Toxin?
                    button(class="route_button",type="submit") ВОЙТИ
                
        include components/footer.pug