doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
        script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
        script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
        title Регистрация
    body 
        include components/header.pug
        .background-join
            form(class="registration-container")
                h1 Регистрация аккаунта
                input(type="text", name="firstName", placeholder="Имя")
                input(type="text", name="lastName", placeholder="Фамилия")
                .container-sex
                    div
                        input(type="radio", name="sex",id="sex-male", value="Male") 
                        label(for="sex-male") Мужчина
                    div
                        input(type="radio", name="sex",id="sex-woman", value="Women") 
                        label(for="sex-woman") Женщина
                h4 ДАТА РОЖДЕНИЯ
                input(type="dates", name="birthday")
                h4 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
                input(type="text", name="email", placeholder="Email")
                input(type="password", name="password", placeholder="Пароль")
                .container-spec 
                    input(type="checkbox", id="check-spec")
                    label(for="check-spec") Получать спецпредложения
                button(class="success_button") ВОЙТИ
                    i(class="material-icons") arrow_forward
                .container-route 
                    p Уже есть аккаунт на Toxin?
                    a(class="route_button",href="login.html") ВОЙТИ             
        include components/footer.pug     

