@mixin form-style {
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  z-index: 1;

  h1 {
    font-family: "Montserrat-Bold";
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark);
    margin: 10px 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="dates"] {
    margin: 5px 0;
    padding: 10px 5px 10px 15px;
    border-radius: 5px;
    outline: none;
    border-color: var(--dark-shade-25);
    color: var(--purple);
    border-width: 1px;
    border-style: solid;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    &::placeholder {
      color: var(--dark-shade-25);
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid var(--dark-shade-25);
    transition: 200ms color, 200ms background-color;

    &:checked {
      border: 1px solid var(--purple);

      &::after {
        width: 65%;
        height: 65%;
      }

      + label {
        color: var(--dark-shade-75);
      }
    }

    &::after {
      transition: 200ms;

      content: " ";
      position: absolute;

      width: 0;
      height: 0;
      background-color: var(--purple);
      border-radius: 100%;
    }

    + label {
      margin: 0 20px 0 10px;
      color: var(--dark-shade-50);
      font-family: " Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      transition: 200ms;
    }
  }

  h4 {
    margin: 15px 0 0 0;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark);
  }

  .success_button {
    position: relative;

    margin: 15px 0;
    border-radius: 50px;
    outline: none;
    height: 44px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    background: var(--primary-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
      position: absolute;
      right: 0;
      width: 44px;
    }
  }

  .container-route {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: black;
    }

    .route_button {
      position: relative;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: 700;
      font-size: 12px;
      outline: none;
      border-radius: 22px;
      border: none;
      display: flex;
      height: 44px;
      justify-content: center;
      border-radius: 50px;
      padding: 0 20px;
      align-items: center;
      text-decoration: none;
      background: white;
      color: var(--purple);

      &:after {
        z-index: -1;
        content: " ";
        position: absolute;
        background: var(--primary-gradient);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 50px;
      }
    }
  }

  .container-spec {
    margin-top: 5px;
    gap: 10px;

    display: flex;
    align-items: center;

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;

      position: relative;
      width: 40px;
      height: 20px;
      border: 1px solid var(--dark-shade-25);
      border-radius: 10px;
      transition: 200ms;

      &:checked {
        border-color: var(--purple);

        &::after {
          left: calc(100% - 16px);
          background: var(--primary-gradient);
        }
      }

      &:after {
        content: " ";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: var(--dark-shade-25);
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
        transition: 200ms left;
      }
    }

    label {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: var(--dark-shade-75);
    }
  }
}
