@import "./mixins.scss";

.registration-container {
  @include form-style;

  .container-sex {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: flex-start;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
