:root {
  --dark-shade-25: rgba(31, 32, 65, 0.25);
  --dark-shade-50: rgba(31, 32, 65, 0.5);
  --dark-shade-75: rgba(31, 32, 65, 0.75);
  --dark: rgb(31, 32, 65);
  --purple: #bc9cff;
  --primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  --secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  --green: #6fcf97;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-gradient);
  border-radius: 5px;
}

body,
h4 {
  padding: 0;
  margin: 0;
}

a,
button,
input[type="radio"],
input[type="checkbox"],
input[type="radio"] + label,
input[type="checkbox"] + label {
  cursor: pointer;
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin.ttf");
  font-weight: 100, Thin;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400, Regular;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700, Bold;
}

.background-join {
  background-image: url("../assets/image/bed-back.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("../assets/image/back-room.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
